@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin:0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  position:relative;
  text-align:center;
  background:linear-gradient(60deg, rgb(1, 20, 71) 0%, rgb(104, 10, 3) 100%);
  color:white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

.disappear {
  position: absolute;
  left:0;
  right:0;
  margin: auto;
  width:100%;
  text-align: center;
  height:fit-content;
  bottom:0;
  top:0;
  font-family: 'Roboto Slab', serif;
  font-size:4vw;
  text-transform: uppercase;
  overflow: hidden;
}
.disappear span {
  display: inline-block;
  color:transparent;
  text-shadow: 0px 0px 0px black;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.disappear span:nth-child(1){
  animation-name: disappearleft;
}
.disappear span:nth-child(2){
  animation-name: disappearleft;
  animation-delay: .3s;
}
.disappear span:nth-child(3){
  animation-name: disappearight;
  animation-delay: .6s;
}
.disappear span:nth-child(4){
  animation-name: disappearleft;
  animation-delay: .8s;
}
.disappear span:nth-child(5){
  animation-name: disappearight;
  animation-delay: 1s;
}
.disappear span:nth-child(6){
  animation-name: disappearight;
  animation-delay: 1.3s;
}
.disappear span:nth-child(7){
  animation-name: disappearleft;
  animation-delay: 1.6s;
}
.disappear span:nth-child(8){
  animation-name: disappearight;
  animation-delay: 2s;
}
.disappear span:nth-child(9){
  animation-name: disappearight;
  animation-delay: 2.3s;
}
@keyframes disappearleft{
  50% {transform: skew(50deg) translateY(-200%);
      text-shadow: 0px 0px 50px;
        opacity: 0;
  }
}
@keyframes disappearight{
  50% {transform: skew(-50deg) translateY(-200%);
      text-shadow: 0px 0px 50px;
        opacity: 0;
  }
}