<div>
    <nav class="navbar-custom navbar navbar-expand-md navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/">Norconsult geoteknikk</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/projects">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/projects">Projects </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8001">Norspunt </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://geotolk.norconsult.com/">Geotolk </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user %}
                <li class="nav-item m-1">
                    <a type="button" class="btn btn-outline-dark" href="/auth/logout">Logout</a>
                </li>
                {% endif%}
            </ul>
        </div>
    </nav>
</div>